@{
    Layout = "/Views/Shared/_LayoutLogin.cshtml";
}

<script src="/Scripts/LoginController.js?v=@System_FishKoi.Helper.CommonHelper.GetNewVerson()"></script>
<script src="/Directive/ng-enter.js"></script>
<script src="/Directive/select2.js"></script>
<script>
    addController("LoginController", LoginController);
</script>

<form class="form w-100" ng-controller="LoginController">
    <!--begin::Heading-->
    <div class="text-center mb-11">
        <!--begin::Title-->
        <h1 class="text-gray-900 fw-bolder mb-3">
            Đăng nhập
        </h1>
        <!--end::Title-->
        <!--begin::Subtitle-->
        <div class="text-gray-500 fw-semibold fs-6">
            System Fish Koi
        </div>
        <!--end::Subtitle--->
    </div>
    <!--begin::Heading-->
    <!--begin::Login options-->
    <div class="row g-3 mb-9">
        <!--begin::Col-->
        <div class="col-md-6">
            <!--begin::Google link--->
            <a href="#" class="btn btn-flex btn-outline btn-text-gray-700 btn-active-color-primary bg-state-light flex-center text-nowrap w-100">
                <img alt="Logo" src="/assets/media/svg/brand-logos/google-icon.svg" class="h-15px me-3" />
                Sign in with Google
            </a>
            <!--end::Google link--->
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-md-6">
            <!--begin::Google link--->
            <a href="#" class="btn btn-flex btn-outline btn-text-gray-700 btn-active-color-primary bg-state-light flex-center text-nowrap w-100">
                <img alt="Logo" src="/assets/media/svg/brand-logos/apple-black.svg" class="theme-light-show h-15px me-3" />
                <img alt="Logo" src="/assets/media/svg/brand-logos/apple-black-dark.svg" class="theme-dark-show h-15px me-3" />
                Sign in with Apple
            </a>
            <!--end::Google link--->
        </div>
        <!--end::Col-->
    </div>
    <!--end::Login options-->
    <!--begin::Separator-->
    <div class="separator separator-content my-14">
        <span class="w-200px text-gray-500 fw-semibold fs-7">Or with Account</span>
    </div>
    <!--end::Separator-->
    <!--begin::Input group--->
    <div class="fv-row mb-8">
        <!--begin::Email-->
        <input type="text" placeholder="Username" ng-model="filter.Username" autocomplete="off" class="form-control bg-transparent" />
        <!--end::Email-->
    </div>

    <div class="fv-row mb-8 fv-plugins-icon-container" ng-show="!isSignIn">
        <!--begin::Repeat Password-->
        <input type="text" placeholder="Họ và tên" autocomplete="off" class="form-control bg-transparent" ng-model="filter.FullName">
        <!--end::Repeat Password-->
        <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
    </div>

    <div class="fv-row mb-8 fv-plugins-icon-container" ng-show="!isSignIn">
        <!--begin::Repeat Password-->
        <input type="text" placeholder="Email" autocomplete="off" class="form-control bg-transparent" ng-model="filter.Email">
        <!--end::Repeat Password-->
        <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
    </div>

    <!--end::Input group--->
    <div class="fv-row mb-8">

        <div class="mb-1">
            <!--begin::Input wrapper-->
            <div class="position-relative mb-3">
                <input class="form-control bg-transparent" ng-model="filter.Password" type="{{isShowPassword ? 'text' : 'password'}}" placeholder="Password" autocomplete="off">

                <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility" ng-click="showPassword($event)">
                    <i class="ki-outline ki-eye-slash fs-2" ng-class="isShowPassword ? 'ki-outline ki-eye fs-2' : 'ki-outline ki-eye-slash fs-2' "></i>
                </span>
            </div>
            <!--end::Input wrapper-->
        </div>
    </div>

    <!--end::Input group--->
    <!--begin::Wrapper-->
    <!--begin::Submit button-->
    <div class="d-grid mb-10">
        <button type="submit" id="kt_sign_in_submit" class="btn btn-primary" ng-click="signIn($event)">

            <!--begin::Indicator label-->
            <span class="indicator-label">
                {{isSignIn ? 'Đăng nhập' : 'Đăng ký'}}
            </span>
            <!--end::Indicator label-->
            <!--begin::Indicator progress-->
            <span class="indicator-progress">
                Please wait...    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
            <!--end::Indicator progress-->
        </button>
    </div>

    <div class="text-gray-500 text-center fw-semibold fs-6">
        {{isSignIn ? 'Bạn không phải là thành viên?' : 'Bạn là thành viên?'}}

        <a href="javascript:;" class="link-primary" ng-click="getView($event)">
            {{isSignIn ? 'Đăng ký' : 'Đăng nhập'}}
        </a>
    </div>
    <!--end::Submit button-->
</form>
