<script src="/Areas/FishKoi/Scripts/FishKoiController.js?v=@System_FishKoi.Helper.CommonHelper.GetNewVerson()"></script>
<script src="/Directive/ng-enter.js"></script>
<script src="/Directive/select2.js"></script>
<script>
    addController("FishKoiController", FishKoiController);
    addDirective("ngEnter", ngEnter);
    addDirective("select2", select2);
</script>

<div id="kt_app_content_container" class="app-container container-xxl" ng-controller="FishKoiController">
    <div class="card">
        <div class="card-header border-0 pt-6">
            <div class="card-title">
                <div class="d-flex align-items-center position-relative my-1">
                    <i class="ki-outline ki-magnifier fs-3 position-absolute ms-5"></i>
                    <input type="text" ng-model="filter.keySearch" ng-enter="search()" class="form-control form-control-solid  ps-12" placeholder="Từ khoá">
                </div>
