<script src="/Areas/Product/Scripts/ProductController.js?v=@System_FishKoi.Helper.CommonHelper.GetNewVerson()"></script>
<script src="/Directive/ng-enter.js"></script>
<script src="/Directive/select2.js"></script>
<script>
    addController("ProductController", ProductController);
    addDirective("ngEnter", ngEnter);
    addDirective("select2", select2);
</script>

<div id="kt_app_content_container" class="app-container container-xxl" ng-controller="ProductController">
    <div class="card">
        <div class="card-header border-0 pt-6">
            <div class="card-title">
                <div class="d-flex align-items-center position-relative my-1">
                    <i class="ki-outline ki-magnifier fs-3 position-absolute ms-5"></i>
                    <input type="text" ng-model="filter.keySearch" ng-enter="search()" class="form-control form-control-solid  ps-12" placeholder="Từ khoá">
                </div>

                <div class="d-flex align-items-center position-relative ms-5">
                    <select class="form-control form-control-solid w-250px" select2 ng-model="filter.categoryID" ng-change="search()">
                        <option value="-1">--Danh mục sản phẩm</option>
                        <option value="1">Thức ăn cá</option>
                        <option value="2">Thuốc cho cá</option>
                        <option value="2">Máy hỗ trợ hồ cá</option>
                    </select>
                </div>
            </div>
            <div class="card-toolbar">
                <div class="d-flex justify-content-end">
                    <a ng-click="showModal()" href="javascript:;" class="btn btn-primary">
                        <i class="ki-outline ki-plus fs-2"></i>  Tạo sản phẩm
                    </a>
                </div>
            </div>
        </div>

        <div class="card-body pt-0">
            <div class="dt-container dt-bootstrap5 dt-empty-footer">
                <div id="table-responsive">
                    <table class="table align-middle  table-row-dashed fs-6 gy-5 " id="kt_product_table">
                        <thead>
                            <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
                                <th>Sản phẩm</th>
                                <th>Mã sản phẩm</th>
                                <th>Danh mục</th>
                                <th>Giá</th>
                                <th class="text-end min-w-70px">#</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="kt_modal_product" tabindex="-1" aria-hidden="true">
        <!--begin::Modal dialog-->
        <div class="modal-dialog modal-dialog-centered mw-650px">
            <!--begin::Modal content-->
            <div class="modal-content">
                <!--begin::Form-->
                <form class="form">
                    <!--begin::Modal header-->
                    <div class="modal-header">
                        <!--begin::Modal title-->
                        <h2 class="fw-bold">{{objProduct.ProductID >  0 ? 'Chỉnh sửa sản phẩm' : 'Tạo sản phẩm'  }}</h2>
                        <!--end::Modal title-->
                        <!--begin::Close-->
                        <div data-bs-dismiss="modal" class="btn btn-icon btn-sm btn-active-icon-primary">
                            <i class="ki-outline ki-cross fs-1"></i>
                        </div>
                        <!--end::Close-->
                    </div>
                    <!--end::Modal header-->
                    <!--begin::Modal body-->
                    <div class="modal-body py-10 px-lg-17">
                        <!--begin::Scroll-->
                        <div class="scroll-y me-n7 pe-7">

                            <div class="fv-row mb-7">
                                <!--begin::Label-->
                                <label class="d-block fw-semibold fs-6 mb-5 required">Hình ảnh sản phẩm</label>
                                <!--end::Label-->
                                <!--begin::Image placeholder-->
                                <style>
                                    .image-input-placeholder {
                                        background-image: url('/assets/media/svg/files/blank-image.svg');
                                    }

                                    [data-bs-theme="dark"] .image-input-placeholder {
                                        background-image: url('/assets/media/svg/files/blank-image-dark.svg');
                                    }
                                </style>
                                <!--end::Image placeholder-->
                                <!--begin::Image input-->
                                <div class="image-input image-input-outline image-input-placeholder image-input-empty image-input-empty " data-kt-image-input="true">
                                    <!--begin::Preview existing avatar-->
                                    <div id="imgAvatarProduct" class="image-input-wrapper w-150px h-150px" style="background-image: url('')"></div>
                                    <!--end::Preview existing avatar-->
                                    <!--begin::Edit-->
                                    <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" aria-label="Change avatar" data-bs-original-title="Change avatar" data-kt-initialized="1">
                                        <i class="ki-outline ki-pencil fs-7"></i>
                                        <!--begin::Inputs-->
                                        <input type="file" name="avatar" accept=".png, .jpg, .jpeg" id="value_file">
                                        <input type="hidden" name="avatar_remove">
                                        <!--end::Inputs-->
                                    </label>
                                    <!--end::Edit-->
                                    <!--begin::Cancel-->
                                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" aria-label="Cancel avatar" data-bs-original-title="Cancel avatar" data-kt-initialized="1">
                                        <i class="ki-outline ki-cross fs-2"></i>
                                    </span>
                                    <!--end::Cancel-->
                                    <!--begin::Remove-->
                                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" aria-label="Remove avatar" data-bs-original-title="Remove avatar" data-kt-initialized="1">
                                        <i class="ki-outline ki-cross fs-2"></i>
                                    </span>
                                    <!--end::Remove-->
                                </div>
                                <!--end::Image input-->
                                <!--begin::Hint-->
                                <div class="form-text">Allowed file types: png, jpg, jpeg.</div>
                                <!--end::Hint-->
                            </div>
                            <div class="fv-row mb-7">
                                <label class="required fs-6 fw-semibold mb-2">Mã sản phẩm :</label>
                                <input ng-disabled="objProduct.ProductID>0" ng-class="objProduct.ProductID>0 ? 'fw-bolder' :''" type="text" class="form-control form-control-solid" ng-model="objProduct.ProductCode" />
                                <!--end::Input-->
                            </div>
                            <!--end::Input group-->
                            <div class="fv-row mb-7">
                                <!--begin::Label-->
                                <label class="fs-6 fw-semibold mb-2">
                                    <span class="required">Tên sản phẩm</span>
                                </label>
                                <input type="text" class="form-control form-control-solid" ng-model="objProduct.ProductName" />
                                <!--end::Input-->
                            </div>

                            <div class="fv-row mb-7">
                                <!--begin::Label-->
                                <label class="fs-6 fw-semibold mb-2">
                                    <span class="required">Danh mục sản phẩm</span>
                                </label>
                                <select class="form-control form-control-solid" select2 ng-model="objProduct.CategoryID" data-dropdown-parent="#kt_modal_product">
                                    <option value="-1">--</option>
                                    <option value="1">Thức ăn cá</option>
                                    <option value="2">Thuốc cho cá</option>
                                    <option value="2">Máy hỗ trợ hồ cá</option>
                                </select>
                            </div>

                            <div class="fv-row mb-7">
                                <!--begin::Label-->
                                <label class="fs-6 fw-semibold mb-2">
                                    <span>Giá</span>
                                </label>
                                <input type="number" class="form-control form-control-solid" ng-model="objProduct.Price" />
                            </div>

                            <div class="fv-row mb-7">
                                <!--begin::Label-->
                                <label class="fs-6 fw-semibold mb-2">
                                    <span>Mô tả</span>
                                </label>
                                <input type="text" class="form-control form-control-solid" ng-model="objProduct.Description" />
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer flex-center">
                        <button data-bs-dismiss="modal" class="btn btn-light me-3">Đóng</button>
                        <button type="submit" id="btn_modal_product_submit" class="btn btn-primary" ng-click="insertOrUpdate($event)">
                            <span class="indicator-label">Cập nhật</span>
                            <span class="indicator-progress">
                                Please wait...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>




