<script src="/Areas/Lake/Scripts/Lake_InsertController.js?v=@System_FishKoi.Helper.CommonHelper.GetNewVerson()"></script>
<script src="/Directive/select2.js"></script>
<script src="/Directive/Tooltip.js"></script>
<script>
    addController("Lake_InsertController", Lake_InsertController);
    addDirective("select2", select2);
    addDirective("tooltip", Tooltip);
</script>

<style>
    .dz-image {
        width: 200px !important;
        height: 200px !important;
    }
</style>
<div class="app-container container-xxl" id="kt_app_content_container" ng-controller="Lake_InsertController">
    <div class="card">
        <div class="card-header border-0 pt-6">
            <div class="card-title">
                <i class="ki-outline ki-bank fs-1 me-2"></i>
                <h2>Thông tin hồ cá</h2>
            </div>
        </div>

        <div class="card-body pt-5">
            <form class="form fv-plugins-bootstrap5 fv-plugins-framework" id="kt_ecommerce_settings_general_form">


                <div class="fv-row mb-7 fv-plugins-icon-container">
                    <!--begin::Label-->
                    <label class="fs-6 fw-semibold form-label mt-3">
                        <span class="required">Tên hồ cá</span>
                        <span class="ms-1" tooltip title="Nhập tên hồ cá">
                            <i class="ki-outline ki-information fs-7"></i>
                        </span>
                    </label>
                    <!--end::Label-->
                    <!--begin::Input-->
                    <input type="text" class="form-control form-control-solid" ng-model="filter.LakeName">
                    <!--end::Input-->
                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                </div>

                <div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">
                    <!--begin::Col-->
                    <div class="col">
                        <!--begin::Input group-->
                        <div class="fv-row mb-7 fv-plugins-icon-container">
                            <!--begin::Label-->
                            <label class="fs-6 fw-semibold form-label mt-3">
                                <span>Kích thước</span>
                                <span class="ms-1" tooltip title="Nhập kích thước">
                                    <i class="ki-outline ki-information fs-7"></i>
                                </span>
                            </label>
                            <!--end::Label-->
                            <!--begin::Input-->
                            <input type="number" class="form-control form-control-solid" ng-model="filter.Size">
                            <!--end::Input-->
                            <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                        </div>
                        <!--end::Input group-->

                    </div>
                    <!--end::Col-->
                    <!--begin::Col-->


                    <div class="col">
                        <!--begin::Input group-->
                        <div class="fv-row mb-7 fv-plugins-icon-container">
                            <!--begin::Label-->
                            <label class="fs-6 fw-semibold form-label mt-3">
                                <span>Độ sâu</span>
                                <span class="ms-1" tooltip title="Nhập độ sâu">
                                    <i class="ki-outline ki-information fs-7"></i>
                                </span>
                            </label>
                            <!--end::Label-->
                            <!--begin::Input-->
                            <input type="number" class="form-control form-control-solid" ng-model="filter.Depth">
                            <!--end::Input-->
                            <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                        </div>
                        <!--end::Input group-->
                    </div>
                    <!--end::Col-->
                </div>

                <div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">
                    <!--begin::Col-->
                    <div class="col">
                        <!--begin::Input group-->
                        <div class="fv-row mb-7">
                            <!--begin::Label-->
                            <label class="fs-6 fw-semibold form-label mt-3">
                                <span>Thể tích</span>
                                <span class="ms-1" tooltip title="Nhập thể tích">
                                    <i class="ki-outline ki-information fs-7"></i>
                                </span>
                            </label>
                            <!--end::Label-->
                            <!--begin::Input-->
                            <input type="number" class="form-control form-control-solid" ng-model="filter.Volume">
                            <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                    </div>
                    <!--end::Col-->
                    <!--begin::Col-->
                    <div class="col">
                        <!--begin::Input group-->
                        <div class="fv-row mb-7">
                            <!--begin::Label-->
                            <label class="fs-6 fw-semibold form-label mt-3">
                                <span>Số lượng cống thoát</span>

                                <span class="ms-1" tooltip title="Nhập số lượng cống thoát">
                                    <i class="ki-outline ki-information fs-7"></i>
                                </span>
                            </label>
                            <!--end::Label-->
                            <!--begin::Input-->
                            <input type="text" class="form-control form-control-solid" ng-model="filter.QuantityDrain">
                            <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                        <!--end::Col-->
                    </div>
                </div>

                <div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">
                    <!--begin::Col-->
                    <div class="col">
                        <!--begin::Input group-->
                        <div class="fv-row mb-7 fv-plugins-icon-container">
                            <!--begin::Label-->
                            <label class="fs-6 fw-semibold form-label mt-3">
                                <span>Công suất máy bơm</span>
                                <span class="ms-1" tooltip title="Nhập công suất máy bơm">
                                    <i class="ki-outline ki-information fs-7"></i>
                                </span>
                            </label>
                            <!--end::Label-->
                            <!--begin::Input-->
                            <input class="form-control form-control-solid" ng-model="filter.PumpOutput">
                            <!--end::Input-->
                            <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                        </div>
                        <!--end::Input group-->

                    </div>
                    <!--end::Col-->
                </div>


                <div class="mb-7">
                    <label class="fs-6 fw-semibold mb-3">
                        <span>Hình ảnh hồ cả</span>
                        <span class="ms-1" tooltip title="Allowed file types: png, jpg, jpeg.">
                            <i class="ki-outline ki-information fs-7"></i>
                        </span>
                    </label>
                    <div class="mt-1">
                        <div class="dropzone" id="kt_dropzonejs_example_1">
                            <div class="dz-message needsclick">
                                <i class="ki-duotone ki-file-up fs-3x text-primary"><span class="path1"></span><span class="path2"></span></i>
                                <div class="ms-4">
                                    <h3 class="fs-5 fw-bold text-gray-900 mb-1">Drop files here or click to upload.</h3>
                                    <span class="fs-7 fw-semibold text-gray-500">Upload up to 10 files</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive mb-7">
                    <table class="table g-5 gs-0 mb-0 fw-bold text-gray-700">
                        <thead>
                            <tr class="border-bottom fs-7 fw-bold text-gray-700 text-uppercase">
                                <th class="min-w-100px w-100px">STT</th>
                                <th class="min-w-300px w-300px">Cá</th>
                                <th class="min-w-300px w-300px">Số lượng</th>
                                <th class="min-w-75px w-75px text-end">#</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="border-bottom border-bottom-dashed" ng-repeat="item in items track by $index">
                                <td class="ps-0 text-gray-800 text-hover-primary mb-1">{{$index + 1}}</td>
                                <td>
                                    <select ng-if="item.IsEdit" class="form-select-solid fw-bold form-select form-control" ng-model="item.FishKoiID" select2>
                                        <option value="-1">---</option>
                                        <option ng-repeat="item in list_FishKoi" value="{{item.FishKoiID}}">{{item.FishKoiName}} - Cá : {{item.FishKoiGenderName}}</option>
                                    </select>
                                    <a ng-show="!item.IsEdit" href="#" class="text-gray-600 text-hover-primary mb-1">{{item.FishKoiName}} - Cá : {{item.FishKoiGenderName}}</a>
                                </td>
                                <td>
                                    <input type="number" ng-if="item.IsEdit" class="form-control form-control-solid" placeholder="Nhập số lượng" ng-model="item.Quantity">
                                    <a ng-if="!item.IsEdit" href="#" class="text-gray-600 text-hover-primary mb-1">{{item.Quantity}}</a>
                                </td>
                                <td class="pt-5 text-end">
                                    <button ng-show="!item.IsEdit" type="button" class="btn btn-sm btn-icon btn-active-color-primary" ng-click="edit_Item($index)">
                                        <i class="ki-outline ki-user-edit fs-3"></i>
                                    </button>

                                    <button ng-show="!item.IsEdit" type="button" class="btn btn-sm btn-icon btn-active-color-danger" ng-click="delete_Item($index)">
                                        <i class="ki-outline ki-trash fs-3"></i>
                                    </button>

                                    <button ng-show="item.IsEdit" type="button" class="btn btn-sm btn-icon btn-active-color-success" ng-click="check_Item($index)">
                                        <i class="ki-outline ki-check fs-3"></i>
                                    </button>

                                    <button type="button" ng-show="item.IsEdit" class="btn btn-sm btn-icon btn-active-color-warning" ng-click="remove_Item($index)">
                                        <i class="ki-outline ki-cross-circle"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="border-top border-top-dashed align-top fs-6 fw-bold text-gray-700">
                                <th>
                                    <button class="btn btn-link  btn-xs py-1 btn-active-color-primary" ng-click="insert_Item($event)">
                                        <i class="ki-outline ki-plus"></i>
                                        Nhập số lượng cá
                                    </button>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="separator mb-6"></div>

                <div class="d-flex justify-content-end">
                    <!--begin::Button-->
                    <button type="reset" data-kt-contacts-type="cancel" class="btn btn-light me-3" ng-click="backHome()">
                        Trở về
                    </button>
                    <!--end::Button-->
                    <!--begin::Button-->
                    <button type="submit" data-kt-contacts-type="submit" class="btn btn-primary" ng-click="insert($event)" id="btn-submit-lake">
                        <span class="indicator-label">
                            Cập nhật
                        </span>
                        <span class="indicator-progress">
                            Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                        </span>
                    </button>
                    <!--end::Button-->
                </div>
            </form>
        </div>
    </div>

</div>



